<!--
    Title: _footer.html
    Author: Walter McCue
    Date: 09/10/22
    Description: footer template for all pages
-->
<section>
    <a href="#top">Back to Top of Page</a>
    <h2>Contact Us</h2>
    <p>Enter your email address and join our mailing list. Your first email will be a confirmation as well as a response form if you wish to leave a testimonial or have any further questions or concerns.</p>
    <form>
        <input type="text" id="txtContact" placeholder="Email"><button type="submit" id="btnContact">Send</button>
    </form>
</section>