<!--
    Title: _header.html
    Author: Walter McCue
    Date: 09/10/22
    Description: header template for all pages
-->
<!--
    Banner Image and Page Title
-->
<section>
    <a id="top"></a>
    <img src="/images/header.jpg" id="banner" alt="Happy Dog" />
    <h1 style="position:absolute; top:0%; left:0%; padding:0%; margin:0%; font-size:2.5em;"><%- title %></h1>
</section>
<!--
    Site Navigation Links
-->
<section>
    <nav>
        <a href="/"><button class="btnNav">Home</button></a>
        <a href="grooming"><button class="btnNav">Grooming</button></a>
        <a href="training"><button class="btnNav">Training</button></a>
        <a href="boarding"><button class="btnNav">Boarding</button></a>
        <a href="registration"><button class="btnNav">Register</button></a>
        <a href="customers"><button class="btnNav">Customers</button></a>
        <a href="appointments"><button class="btnNav">Appointments</button></a>
        <a href="booking"><button class="btnNav">Bookings</button></a>
    </nav>
</section>
    