<!--
    Title: _header.html
    Author: Walter McCue
    Date: 09/10/22
    Description: header template for all pages
-->
<!--
    Banner Image and Page Title
-->
<section>
    <a id="top"></a>
    <img src="/images/header.jpg" id="banner" alt="Happy Dog" />
    <h1 style="position:absolute; top:40px; left:5px; font-size:3em;"><%- title %></h1>
</section>
<!--
    Site Navigation Links
-->
<section>
    <nav>
        <a href="/">Home</a>
        <a href="grooming">Grooming</a>
        <a href="training">Training</a>
        <a href="boarding">Boarding</a>
        <a href="appointments">Book-Now</a>
        <a href="registration">Register</a>
        <a href="customers">Customers</a>
        <a href="appointments">Appointments</a>
    </nav>
</section>
    