<!doctype html>
<html lang="en">
    <head>
        <!--
            Title: boarding.html
            Author: Walter McCue
            Date: 09/10/22
            Description: Boarding page for pets-r-us
            References: WEB 340 GitHub; WEB 340 Assign_5; WEB 340 pets-r-us Instructions
        -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--
            Stylesheets, Google Font Kit, CDN Font Kit
        -->
        <link href="styles/site.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    
        <title><%- title %></title>
    </head>
    <body>
        <header>
            <%- include('./partials/_header.html') %>
        </header>
        <main>
            <hr>
            <article>
                <div class="content">
                    <h2>Content</h2>
                </div>
                <div class="content">
                    <h2>Content</h2>
                </div>
            </article>
            <hr>
            <article>
                <div class="content">
                    <h2>Content</h2>
                </div>
                <div class="content">
                    <h2>Content</h2>
                </div>
            </article>
            <hr>
            <article>
                <div class="content">
                    <h2>Content</h2>
                </div>
                <div class="content">
                    <h2>Content</h2>
                </div>
            </article>
            <hr>
        </main>
        <footer>
            <%- include('./partials/_footer.html'); %>
        </footer>
    </body>
</html>