<!doctype html>
<html lang="en">
    <head>
        <!--
            Title: boarding.html
            Author: Walter McCue
            Date: 09/10/22
            Description: Boarding page for pets-r-us
            References: WEB 340 GitHub; WEB 340 Assign_5; WEB 340 pets-r-us Instructions
        -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--
            Stylesheets, Google Font Kit, CDN Font Kit
        -->
        <link href="styles/site.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    
        <title><%- title %></title>
    </head>
    <body>
        <!--
            Header area imported from _header.html
        -->
        <header>
            <%- include('./partials/_header.html') %>
        </header>
        <main>
            <hr>
            <!--
                Boarding Info
            -->
            <article>
                <div class="content">
                    <img src="/images/boarding-inside.jpg" alt="Dogs playing inside the playroom.">
                </div>
                <div class="content">
                    <h2>Dog Socialization</h2>
                    <p>One of the most important thing we focus on in our boarding department is dog socialization. Not all dogs know how to react to other dogs. So our staff keeps an eye out for signs of anxiety, stress, and aggression. When they see these signs, they intervene and separate dogs that aren't playing nice. We have multiple play areas outside and inside for dogs of all sizes and temperaments. You'll see some pictures of those spaces on this page as well as more details on pricing towards the bottom.</p>
                </div>
            </article>
            <hr>
            <!--
                More Boarding Info
            -->
            <article>
                <div class="content">
                    <h2>More than just Boarding</h2>
                    <p>We have more than just playgrounds, and fields for your dogs to play in. When you book our boarding services, we include meals, toys, and a bath. If your dog has special dietary needs, please let our staff know. We provide one toy every five nights per dog. If the toy makes it through the dog's stay, you get to take it home. We also bath dogs that get especially dirty and dogs on their last night in our kennels. Our kennels are cleaned each day and our fields, playgrounds, and indoor playrooms are cleaned daily and treated for insects bi-weekly. If you have any questions or concerns, please reach out to one of our store associates and they will be happy to assist you!</p>
                </div>
                <div class="content">
                    <img src="/images/boarding-outside.jpg" alt="Dogs playing in the fenced-in field outside.">
                </div>
            </article>
            <hr>
            <!--
                Boarding Pricing
            -->
            <article>
                <div class="content">
                    <img src="/images/boarding-kennels.jpg" alt="Dogs getting ready for bed in their kennels.">
                </div>
                <div class="content">
                    <h2>Pricing</h2>
                    <table>
                        <tr>
                            <th>Quantity of Dogs</th>
                            <th>Five Nights or Less</th>
                            <th>Over Five Nights</th>
                        </tr>
                        <tr>
                            <td>One Dog</td>
                            <td>$35/Night</td>
                            <td>$30/Night</td>
                        </tr>
                        <tr>
                            <td>Two Dogs</td>
                            <td>$60/Night</td>
                            <td>$50/Night</td>
                        </tr>
                        <tr>
                            <td>Three or More Dogs</td>
                            <td>$25/Night for each Dog</td>
                            <td>$20/Night for each Dog</td>
                        </tr>
                    </table>
                </div>
            </article>
            <hr>
        </main>
        <!--
            Footer area imported from _footer.html
        -->
        <footer>
            <%- include('./partials/_footer.html'); %>
        </footer>
    </body>
</html>