<!doctype html>
<html lang="en">
    <head>
        <!--
            Title: grooming.html
            Author: Walter McCue
            Date: 09/04/22
            Description: Grooming page for pets-r-us
            References: WEB 340 GitHub; WEB 340 Assign_4; WEB 340 pets-r-us Instructions
        -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--
            Stylesheets, Google Font Kit, CDN Font Kit
        -->
        <link href="styles/site.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    
        <title><%- title %></title>
    </head>
    <body>
        <!--
            Header area imported from _header.html
        -->
        <header>
            <%- include('./partials/_header.html') %>
        </header>
        <main>
            <hr><br>
            <!--
                Bath Section
            -->
            <article>
                <div class="content">
                    <h2>Bath Time</h2>
                    <p>Washing a dog can be tough sometimes. No matter the reason, that’s one more reason we are here. As long as you can provide vaccination records, we’ll take care of your fur baby. Just be sure to let us know of any allergies. All dog baths consist of a shampoo tailored to their fur needs. Short haired breeds get an oatmeal-based shampoo that assists in shedding the undercoat. Long haired dogs get a plant-based shampoo/conditioner combination to assist with the silky-smooth coat. Dogs with skin-conditions and allergies get a medical grade shampoo to assist with healing and moisturization. All baths end with a gentle blow dry and brush. We don't up-charge for breeds or large dogs.</p>
                    <table>
                        <tr>
                            <th>Service</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>Bath</td>
                            <td>$20</td>
                        </tr>
                    </table>
                </div>
                <div class="content">
                    <img src="images/grooming-bath.jpg" alt="Happy puppy is getting scrubbed down during a bath." />
                </div>
            </article>
            <br><hr><br>
            <!--
                Haircut Section
            -->
            <article>
                <div class="content">
                    <img src="images/grooming-haircut.jpg" alt="Mature dog holds still so the groomer can add the finishing touches to a cute haircut." />
                </div>
                <div class="content">
                    <h2>Haircuts</h2>
                    <p>Just like washing a dog, giving them a haircut can be tough. But we’ve got that covered too. Whether it’s a simple trim, shave, or a custom look you are going for, we have specialists who can make it happen. Pricing on haircuts is a bit different than pricing on baths but we still don't charge based on size or breed.</p>
                    <table>
                        <tr>
                            <th>Service</th>
                            <th>Price</th>
                        </tr>
                        <tr>
                            <td>Standard Haircut</td>
                            <td>$20</td>
                        </tr>
                        <tr>
                            <td>Custom Haircut</td>
                            <td>$30</td>
                        </tr>
                    </table>
                </div>
            <br></article><br>
            <hr>
            <!--
                Additional Grooming Services
            -->
            <article>
                <div class="content">
                    <h2>Additional Grooming Services</h2>
                    <p>While we have your dog here, we offer additional grooming services should you want to take advantage of them. None of these require a bath/haircut but we encourage both so your dog gets the absolute best treatment. Pretty pupper includes a small bottle of seasonal dog perfume/cologne and bandana/bow. Complete Spa package includes all our grooming services. Below are a list of these services with standard pricing and add-on pricing during a bath visit.</p>
                    <table>
                        <tr>
                            <th>Service</th>
                            <th>Price</th>
                            <th>Add-on</th>
                        </tr>
                        <tr>
                            <td>Nail Trim</td>
                            <td>$10</td>
                            <td>$8</td>
                        </tr>
                        <tr>
                            <td>Ear Cleaning</td>
                            <td>$10</td>
                            <td>$8</td>
                        </tr>
                        <tr>
                            <td>Pretty Pupper</td>
                            <td>$10</td>
                            <td>$8</td>
                        </tr>
                        <tr>
                            <td>Complete Spa Day</td>
                            <td>---</td>
                            <td>$60</td>
                        </tr>
                    </table>
                </div>
                <div class="content">
                    <img src="images/grooming-nails.jpg" alt="Dog stares patiently at the camera while his nails are getting trimmed." />
                </div>
            </article>
            <br><hr>
        </main>
        <!--
            Footer area imported from _footer.html
        -->
        <footer>
            <%- include('./partials/_footer.html'); %>
        </footer>
    </body>
</html>