<!doctype html>
<html lang="en">
    <head>
        <!--
            Title: index.html
            Author: Walter McCue
            Date: 09/04/22
            Description: Landing page for pets-r-us
            References: WEB 340 GitHub; WEB 340 Assign_4; WEB 340 pets-r-us Instructions
        -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--
            Stylesheets, Google Font Kit, CDN Font Kit
        -->
        <link href="styles/site.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    
        <title><%- title %></title>
    </head>
    <body>
        <header>
            <%- include('./partials/_header.html') %>
        </header>
        <main>
            <hr>
                <p class="block">Welcome to Pets-R-Us. We've been rescuing dogs and helping them find forever homes for what seems like forever. Since we opened our doors we've been one of the largest pet stores to our local community. Because of this and the support of everyone, we've expanded our outreach and have opened another store. We've also recently expanded our operation to include new services like training, grooming, and boarding. This would not have been made possible without the love and support of everyone who visits us, the communities we serve, and our love and passion for our four-legged friends.</p>
            <hr><br>
            <article>
                <div class="content">
                    <h2>Locations</h2>
                    <h3>Bellevue</h3>
                    <p>1000 Galvin Road S; Bellevue, NE 68005</p>
                    <h3>Omaha</h3>
                    <p>5300 N. 30th Street, Bldg. 10, Room 202; Omaha, NE 68111</p>
                    <h3>Orlando</h3>
                    <p>731 N Alafaya Trail; Orlando, FL 32828</p>
                </div>
                <div class="content">
                    <h2>Hours of Operation</h2>
                    <table>
                        <tr>
                            <td>Sunday</td>
                            <td>11:00-19:00</td>
                        </tr>
                        <tr>
                            <td>Monday</td>
                            <td>09:00-21:00</td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td>09:00-21:00</td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td>09:00-21:00</td>
                        </tr>
                        <tr>
                            <td>Thursday</td>
                            <td>09:00-21:00</td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td>09:00-21:00</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>09:00-19:00</td>
                        </tr>
                    </table>
                    <p>We are closed on all major National Holidays.</p>
                </div>
            </article>
            <br><hr><br>
            <article>
                <div class="content">
                    <h2>Dog of the Week</h2>
                    <p>Meet Dixie. Dixie is a fun-loving puppy of 5 months old. She earned a spot this week on our list for graduating top in her class in the beginners category of our training classes. Dixie's favorite thing to do is chew on her toys. Her momma learned very fast that Dixie is a big time chewer. Now Dixie has more toys than there are furniture in the house. Not only that, but Dixie learned all the beginner commands and actions that we teach in our puppy beginner training classes and she did it with almost no fuss. We look forward to seeing Dixie grow and hope to see her in the upcoming puppy intermediate classes.</p>
                </div>
                <div class="content">
                    <img src="images/dog-week.jpg" alt="Collage of a happy puppy featured as the dog of the week.">
                </div>
            </article>
            <br><hr><br>
            <article>
                <div class="content">
                    <h2>Testimonials</h2>
                    <blockquote>"I bring my dog in every 4 weeks for her spa day in the grooming salon. My groomer takes special care to make sure my dog is not only bathed, but gets her undercoat brushed out, soothing lotion for her paw pads, ear cleaning, perfume, and a cute bandana. I absolutely love the work they do and will be a customer for life!"</blockquote>
                    <span class="right">-Kimberly J.</span><br>
                    <blockquote>"Training has never been my thing. But these training class not only taught my dog, they taught me how to listen to my dog. Highly recommend."</blockquote>
                    <span class="right">-John G.</span>
                </div>
                <div class="content">
                    <h2>Testimonials</h2>
                    <blockquote>"My job takes me all over the place. My dox Max can't come with me on planes and hotels and I don't have any family in the area who can take my dog in. So I brought him in to Pets-R-Us on a recommendation from a friend. Max loves his time in the boarding facility. He gets lots of attention from the staff and I can view the live feeds of the facility anytime I want. I could never play with Max for hours and hours at a time but he has made friends with the other dogs at the boarding facility and that's exactly what he does when he's there. It's like playtime 24-7 over there. And when it's bed time, he listens to the staff and goes straight to the kennel. Now if I could only get him to listen that well at home, I'd be set. lol"</blockquote>
                    <span class="right">-Dakota G.</span>
                </div>
            </article>
            <br><hr>
        </main>
        <footer>
            <%- include('./partials/_footer.html'); %>
        </footer>
    </body>
</html>