/**
 * Title: site.css
 * Author: Walter McCue
 * Date: 09/04/2022
 * Description: Styling for the pets-r-us directory
 * Resources: WEB-340-Assign-4.docx; WEB-340-pets-r-us.docx; WEB-340 GitHub
 */
 body {
   font-family: 'Oswald', Verdana, Arial, sans-serif;
   font-size: 18px;
   background-color: black;
   width: auto;
   margin-left: auto;
   margin-right: auto;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   max-width: auto;
   margin:auto;
 }
 #banner {
   width: 100%;
 }
 /**
 * Navigation and link styling
 */
 nav {
   text-align: center;
   margin-bottom: 5px;
 }
 a {
   color: white;
   text-decoration: none;
 }
a:hover {
   color: yellow;
   cursor: pointer;
   background-color: #373737;
}
/**
* Styling for most of the content in the main section of the page
*/
 main {
   background-color: #d3d3d3;
 }
 article {
   min-height: 460px;
   margin: auto;
   vertical-align: middle;
   font-size: 17px;
 }
 .content {
   float: left;
   width: 46%;
   padding: 2%;
   margin: auto;
   text-align: center;
 }
 table {
  margin-left: auto;
  margin-right: auto;
}
td {
padding: 10px;
}
img {
 max-height: 450px;
}
/**
* Footer Styles
*/
 footer {
   color: white;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 20px;
 }
 /**
 * Styles form sections
 */
 input {
   padding: 12px;
   margin: 4px;
   font-size: 16px;
   width: 50%;
   border: solid 1px black;
   box-shadow: 0px 4px 8px 0px black;
 }
 #service {
  padding: 12px;
   margin: 4px;
   font-size: 16px;
   width: 50%;
   border: solid 1px black;
   box-shadow: 0px 4px 8px 0px black;
 }
 button, #search {
   border: none;
   text-align: center;
   text-decoration: none;
   font-size: 16px;
   font-weight: 600;
   margin: 4px;
   cursor: pointer;
   padding: 15px 32px;
   border: solid 1px black;
   box-shadow: 0px 4px 8px 0px black;
 }
 button:hover {
   background-color: yellow;
   cursor: pointer;
   border: solid 2px black;
   box-shadow: 0px 8px 16px 0px white;
 }
 #search:hover {
  background-color: yellow;
  cursor: pointer;
  border: solid 2px black;
  box-shadow: 0px 8px 16px 0px white;
}
 /**
 * Styling for Block Quotes and the Author 
 */
 .right {
   float:right;
 }
 .block {
   margin: 5px;
 }

 /**
 * Styling Unique to the Tables on the Training Page
 */
.puppy {
  background-color:lightblue;
}
.teen {
  background-color: darkkhaki;
}
.adult {
  background-color: lightpink;
}
/**
* Styling for Customers Page
*/
#customers {
  height: auto;
}
#tblCustomers td, th {
  padding-left: 40px;
  text-align: left;
}

/** Sets column width on different screen sizes */
@media screen and (max-width: 400px) {
  .content {
      width: 100%;
      float: none;
      margin:0%;
  }
}
@media screen and (max-width: 500px) {
  .content {
      width: 100%;
      float: none;
      margin:0%;
  }
}
@media screen and (max-width: 600px) {
  .content {
      width: 100%;
      float: none;
      margin:0%;
  }
}
@media screen and (max-width: 700px) {
  .content {
      width: 100%;
      float: none;
      margin:0%;
  }
}
@media screen and (max-width: 800px) {
  .content {
      width: 100%;
      float: none;
      margin:0%;
  }
}